html, body { height:100%; }
body {  }

.intro {
    height:100%;
    width:100%;
    background:url('background.jpg') top center;
}

h1, p {
    font-family:'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color:#FFF;
    text-shadow:0px 0px 30px rgba(0,0,0,1);
}

.intro h1 {
    color:#FFF;
    text-align:center;
    text-transform: uppercase;
    font-weight:300;
    font-size:24px;
    margin-bottom:50px;
    letter-spacing:8px;
}

.intro p {
    letter-spacing:3px;
    margin-bottom:50px;
}

.technologies, .clients {
    padding: 0 10px;
    display: inline;
    height: 126px;
    width: 212px;
    overflow: hidden;
}

a.btn-info { border:none; background:none; font-family:'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform:uppercase; }
a.btn-info:hover, a.btn-info:active { background:rgba(0,0,0,.3); }
a.btn-info .span { padding-right:5px !important; }
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}